<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212625524713-apn5rs81549nitliosrp90cocrkn041u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212625524713-apn5rs81549nitliosrp90cocrkn041u</string>
	<key>API_KEY</key>
	<string>AIzaSyB5qgn6vHM2rK8Ee0t_OKcbp5Q5r00YJLk</string>
	<key>GCM_SENDER_ID</key>
	<string>212625524713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.caffeApp</string>
	<key>PROJECT_ID</key>
	<string>jin-caffe-app</string>
	<key>STORAGE_BUCKET</key>
	<string>jin-caffe-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212625524713:ios:763c0af0776e0bf7312d78</string>
</dict>
</plist>